.container {
  width: 750px;
  color: #333;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 60px;
  font-family: 'Bree Serif', serif;
  position: relative;
}

#nav {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: right;
  width: 100%;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

p:first-of-type {
    width: 200px;
    float: left;
    margin: 0 20px 0 0;
}

img {
    width: 205px;
    height: 205px;
	display: block;
}

p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0.35em;
}

li {
  font-size: 24px;
  line-height: 1.8;
}

a:link, a:visited {
  text-decoration: none;
  background: #ffa474;
  padding: 3px 6px;
  color: #ffffff;
}

a:focus, a:hover, a:active {
  text-decoration: none;
  background: #ffa474;
  padding: 3px 6px;
  color: #ffffff;
}
